services:
  postgres:
    container_name: postgres-sql-bh
    image: postgres
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: book_hub_network
    volumes:
      - postgres:/data/postgres
    ports:
      - 5432:5432
    networks:
      - bookish-network
    restart: unless-stopped
  mail-dev:
    container_name: mail-dev-bh
    image: maildev/maildev
    ports:
      - 1080:1080
      - 1025:1025
  KeyCloak:
    container_name: keycloak-bookhub
    image: quay.io/keycloak/keycloak:26.5.0
    ports:
      - 9090:8080
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    networks:
      - bookish-network
    command:
      - 'start-dev'

networks:
  bookish-network:
    driver: bridge

volumes:
  postgres:
    driver: local